{% extends 'pizza/base.html' %}

{% block content %}
<div class="container-fluid">
<form method="POST">
  {% csrf_token %}
  {% for i in form_ingredient %}
    <h4><strong>{{i.label}}</strong></h4>
    {{i}}
  {% endfor %}

{% for ingredients, title, fs in zipper %}
  <h4><strong>{{title}}</strong></h4>
  <div class="row">
    {{fs.management_form}}
    {% for input, label, price in ingredients %}
      <div class="col-sm-6 col-md-4 col-lg-3">
        <p class="label-price">{{label}} ({{price}}$)</p>
        {{input}}
      </div>
    {% endfor %}
  </div>

<br>

{% endfor %}
<button class="btn btn-primary" type="submit">Send</button>
</form>
</div>

{% endblock %}
